@import "navbar.css";
@import "canvas.css";
@import "toolbar.css";

html {
  width: 100vw;
  height: 100vh;
  padding: none;
  margin: none;
  font-size: 10px;
}

body {
  width: inherit;
  height: inherit;
  padding: inherit;
  margin: inherit;
}

#root {
  width: inherit;
  height: inherit;
  padding: inherit;
  margin: inherit;
}
